<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Mivelo, sohbetlere sesli mesaj kaydedip göndermek için mikrofonu kullanır.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Mivelo, iMessage yanıtlarını Mesajlar uygulaması üzerinden göndermek için Mesajlar'ı kullanır.</string>
	<key>NSContactsUsageDescription</key>
	<string>Mivelo, sohbetlerde numaralar yerine rehberindeki adları göstermek için Kişiler'i okur.</string>
</dict>
</plist>
